.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.items {
    height: 50vh;
    max-height: 100%;
    overflow-y: scroll;
    background-color: azure;
    scrollbar-color: grey lightgrey;
    max-width: 25vw;
    padding: 5px;
}

.time {
    color:blueviolet;
}

input {
    color: black;
}

.event {
    color:firebrick;
}

.option {
    color:goldenrod;
}

.good {
    color: green;
}

.bad {
    color: red
}

.stat {
    color:darkviolet;
}

.border-line {
    fill:none;
    stroke: black;
    stroke-width: 1;
}

.good-graph-line {
    fill:none;
    stroke: green;
    stroke-width: 1;
}

.bad-graph-line {
    fill:none;
    stroke: red;
    stroke-width: 1;
}

#questioningButton {
    display: none;
}

#nameInput {
    width: 30vw;
    height: 30px;
}

.nameButtons {
    /* height: 20px; */
    padding: 0em;
}

#makeDiv {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.optionsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}