.main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 75vh;
    max-height: 100%;
    max-width: 100%;
    overflow-x: fit-content;
    justify-content: safe center;
}