
/* Section needed in every single one: */
h1 {
    text-align: center;
}

.header_div {
    display: flex;
    flex-direction: row;
}

.true_header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display:flex;
    flex: 1;
    flex-direction: column; 
    background-color: slategray;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

footer {
    display:flex;
    flex: 1;
    flex-direction: column; 
    background-color: slategray;
    justify-content: center;
    align-items: center;
}

/* img {
    flex: 1;
}

nav {
    flex: 1;
} */


/*section needed for this one*/
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lower_div {
    flex: 2;
    text-align: center;
}

input {
    width: 95%;
}

.aq_box {
    flex: 2;
    text-align: center;
    background-color: aquamarine;
    border-radius: 25px
}


.white_space {
    flex: 1;
}