/* Section needed in every single one: */
h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 80px;
    display:flex;
    flex-direction: row; 
    background-color: slategray;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    flex: 0 30px;
    display:flex;
    flex-direction: column; 
    background-color: slategray;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.white_space {
    flex: 1;
}
  
a:visited {
    color: aliceblue;
}
  
a:hover {
    color: lightblue;
}
  
a:active {
    color: blue;
}

/*section needed for this one*/
main {
    align-items: center;
}


table {
    width: 75vw
}

/* .t {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw
}

tr {
    display: flex;
    flex-direction: row;
} */
