/* Header and Footer */
h1 {
  text-align: center;
}

.name {
  margin-block-start: 0em;
  margin-block-end: 0em;
  align-self: center;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  height: 15vh;
  display:flex;
  flex-direction: row; 
  background-color: slategray;
  align-items: center;
  color: black
}

main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 10vh;
  display:flex;
  flex-direction: column; 
  background-color: slategray;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.white_space {
  flex: 1;
}

a:visited {
  color: aliceblue;
}

a:hover {
  color: lightblue;
}

a:active {
  color: blue;
}

@media (max-height: 500px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

